.container {
	position: absolute;
}


.hangman {
	position: absolute;
	float: left;
	border: 10px solid;
}

.trivia {
	float: left;
}

.RPS {
	float: left;
}

.imagetext {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.footer {
	position: fixed;
	left: 0;
	bottom:0;
	width: 100%;
	text-align:center;
	color:#777777;
	background-color: #666666;
}

.header {
	background-color:#ffffff;
	border: 1px solid ;
	border-color: #cccccc;
	width: 100%;
	color:#4aaaa5;
	margin: 10px 20px;
}

.about-me {
	color:#777777;
	font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	float:right;
	margin: 15px 10px 20px 30px;
	position: relative;
}


.sidebar {
	float:right;
	border: 1px solid #dddddd ;
	text-align: center;
	width: 270px;
	box-sizing: border-box;
	margin-top: 100px;
}


.contact-form {
	position:fixed;
	border-bottom: 1px solid;
	border: 1px solid #dddddd;
	width: 650px;
	box-sizing: border-box;
}

.submit-button {
	color:white;
	background-color:#4aaaa5;
}

.message-box{
	height: 200px;
}

.my-picture {
	float:left;
	padding: 0 10px 0 0;
	margin: 15px 10px 20px 20px;
}

.name-box {
	border: 1px solid #dddddd;
}
.about-me-container {
	float:left ;
	border:1px solid #dddddd;
	width: 650px;
	box-sizing: border-box;
	margin-left: 50px;
}

h1, h2 , h3 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color:#4aaaa5;
}

p {
	color: #777777;
}

h2 {
	border-bottom:thick line #ff0000;
	border-style: solid;
	border-top:50px;
	border-left:none;
	border-right:none;
	width:250px;
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
	word-spacing: 30px;
}

li {
	display:inline-block;
	float:right;
	border-right: 1px solid;
	margin-top: 10px;
	padding-left: 30px;
}

li:last-child {
	border-right:none;
}


img {
	width:25%;
}


body {
	background-color:#ffffff;
	background-image:url(https://i.imgur.com/ZBj2hi0.png);
	width: 960px;
	box-sizing: border-box;
}

